@{
    ViewData["Title"] = "Home Page";
}


<div style="margin:0 auto; color: white; font-weight: bold; font-size: 24px;">
    E' nato Aaron alle @ViewData["Time"], pesa @ViewData["Weight"] kg ed è grande @ViewData["Height"] cm!
</div>


